.App {
    position: relative;
    overflow: auto;
    height: 100vh;
    /* Set the height to 100% of the viewport height */
}

.sidebar-header {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(130deg, #3b5998, #7c3b9f);
}

.Sidebar {
    position: fixed;
    /* Make the sidebar fixed */
    top: 75px;
    /* Adjust this value based on your header height */
    left: 0;
    /* Stick the sidebar to the left */
    width: 250px;
    background-color: #2f4850;
    z-index: 1;
    height: calc(100vh - 75px);
    /* Set the height to fill the remaining viewport height */
    overflow: auto;
    /* Ensure the sidebar itself can scroll if content overflows */
}

button {
    margin-left: 50%;
    position: relative;
    z-index: 2;
    /* Ensure button appears on top of the sidebar */
}

.Sidebarlist {
    height: auto;
    padding: 0;
    width: 100%;
}

.Content {
    margin-left: 250px;
    /* Adjust based on sidebar width */
    padding-left: 20px;
    /* Add padding to create space */
    padding-top: 75px;
    /* Add padding-top to prevent content from being covered by the header */
}

.Sidebarlist .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0;
    color: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Sidebarlist .row:hover {
    cursor: pointer;
    background-color: #293846;
}

.row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title {
    flex: 70%;
}